<header>
    <div class="absolute inset-0 z-0 flex items-start top-0">
           <div
            class="absolute inset-0 -z-10 h-full w-full bg-transparent [&>div]:absolute [&>div]:left-0 [&>div]:top-0 [&>div]:-z-10 [&>div]:m-auto [&>div]:h-[310px] [&>div]:w-[310px] [&>div]:rounded-full [&>div]:bg-blue-600 [&>div]:opacity-30 [&>div]:blur-[100px]"
          >
          <div class="z-0">

          </div>
          </div>

          <div
            class="absolute inset-0 -z-10 h-full w-full bg-transparent [&>div]:absolute [&>div]:left-1/4 [&>div]:top-0 [&>div]:-z-10 [&>div]:m-auto [&>div]:h-[310px] [&>div]:w-[310px] [&>div]:rounded-full [&>div]:bg-orange-600 [&>div]:opacity-30 [&>div]:blur-[100px]"
          >
          <div class="z-0">

          </div>
          </div>

          <div
            class="absolute inset-0 -z-10 h-full w-full bg-transparent [&>div]:absolute [&>div]:left-2/4 [&>div]:top-0 [&>div]:-z-10 [&>div]:m-auto [&>div]:h-[310px] [&>div]:w-[310px] [&>div]:rounded-full [&>div]:bg-rose-600 [&>div]:opacity-30 [&>div]:blur-[100px]"
          >
          <div class="z-0">

          </div>
          </div>

          <div
            class="absolute inset-0 -z-10 h-full w-full bg-transparent [&>div]:absolute [&>div]:right-0 [&>div]:top-0 [&>div]:-z-10 [&>div]:m-auto [&>div]:h-[310px] [&>div]:w-[310px] [&>div]:rounded-full [&>div]:bg-purple-800 [&>div]:opacity-40 [&>div]:blur-[100px]"
          >
          <div class="z-0">

          </div>
          </div>
     </div>

  


    <!-- navbar -->
    <nav  x-data="{open:false}" class="fixed w-full z-40 top-0">
      <div class="mx-auto px-4 py-4 flex justify-between items-center max-w-7xl relative z-10">
        <div>
          <a class="block w-24"><img src="assets/images/logo.svg" /></a>
        </div>

        <div class="flex items-center gap-8 font-medium text-stone-800">
          <ul class="flex items-center gap-6">
            <li>
              <a href="" class="block py-1 text-center">
                مستندات
              </a>
            </li>

            <li>
              <a href="" class="block py-1 text-center">
                ماژول و افزونه ها
              </a>
            </li>

            <li>
              <a href="" class="block py-1 text-center">
                تماس با ما
              </a>
            </li>

            <li>
              <a href="" class="block py-1 text-center">
                اخبار
              </a>
            </li>

            <li>
              <a href="" class="block py-1 text-center">
                بیشتر
              </a>
            </li>
          </ul>


          <div class="gradient-border-mask">
              <a href="#" class="relative z-20 size-full text-sm block">
                 کنترل پنل کاربری
              </a>
          </div>

          
        </div>

      </div>
    </nav>
    <!-- navbar -->
  </header>