<section class="py-10 sm:py-16 lg:py-24">
    <div>
      <h2 class="font-semibold text-3xl mb-12 lg:mb-4 text-center">
        ساخت فروشگاه آنلاین در ۳ شماره
      </h2>

      <div class="flex flex-col items-center gap-12">
        <div class="flex flex-col-reverse lg:flex-row items-center gap-4">
          <div class="w-3/4 flex flex-col text-center lg:text-start">
            <div
              class="hidden lg:block bg-gray-100 text-center content-center rounded-full text-5xl w-20 h-20 mb-8"
            >
              1
            </div>
            <div class="text-3xl font-semibold mb-5">
              ثبت‌نام و تکمیل مشخصات و حساب بانکی فروشگاه
            </div>
            <div class="text-xl">
              اولین مرحله برای ایجاد فروشگاه ثبت ‌نام و تکمیل مشخصات و حساب
              بانکی فروشگاهتان است که به سادگی و به سرعت قابل انجام است
            </div>
          </div>
          <div class="w-1/4 flex justify-center items-center">
            <img
              src="/images/step-one.webp"
              alt=""
              class="w-full"
            />
          </div>
        </div>

        <div class="flex flex-col lg:flex-row items-center gap-4">

          <div class="w-1/4 flex justify-center items-center">
            <img
              src="/images/step-two.webp"
              alt=""
              class="w-full"
            />
          </div>

          <div class="w-3/4 flex flex-col text-center lg:text-start">
            <div
              class="hidden lg:block bg-gray-100 text-center content-center rounded-full text-5xl w-20 h-20 mb-8"
            >
              2
            </div>
            <div class="text-3xl font-semibold mb-5">
              اضافه کردن محصولات بر اساس دسته‌بندی
            </div>
            <div class="text-xl">
              محصولاتتان را در دسته‌بندی‌های مربوط به خود به فروشگاهتان
              اضافه کنید و آماده فروش شوید
            </div>
          </div>
        </div>

        <div class="flex flex-col-reverse lg:flex-row items-center gap-4">
          <div class="w-3/4 flex flex-col text-center lg:text-start">
            <div
              class="hidden lg:block bg-gray-100 text-center content-center rounded-full text-5xl w-20 h-20 mb-8"
            >
              3
            </div>
            <div class="text-3xl font-semibold mb-5">
              اشتراک ‌گذاری با کاربران و شروع فروش
            </div>
            <div class="text-xl">
              لینک فروشگاه یا محصولاتتان را برای دیگران ارسال کنید یا در
              صفحات مجازی خود قرار دهید تا کاربران به راحتی از محصولاتتان
              دیدن کنند و خریدشان را انجام دهند
            </div>
          </div>
          <div class="w-1/4 flex justify-center items-center">
            <img
              src="/images/step-three.webp"
              alt=""
              class="w-full"
            />
          </div>

         
        </div>
      </div>
    </div>
  </section>