<section class="py-10 sm:py-16 lg:py-24 px-6 lg:px-0 bg-white w-full capabilities relative 2xl:after:h-1/4 after:h-1/6 md:after:h-1/5">
    <!-- Section Header -->
    <div class="text-center">
      <h2 class="font-semibold text-3xl">فراتر از یک درگاه پرداخت</h2>
      <p class="max-w-md mx-auto mt-2 text-gray-500">
        پاناپال مجموعه‌ای از ابزارهای نوین پرداخت را ارائه می‌دهد که امکان دریافت وجه را برای همه، با یا بدون وب‌سایت، فراهم می‌سازد.
      </p>
    </div>

    <!-- capabilitiess -->
    <div class="flex flex-col gap-6 sm:px-20 lg:px-0 mt-10 pb-20 lg:max-w-5xl md:max-w-2xl max-w-xl mx-auto relative z-10">
      <!-- Row 1 -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <!-- capabilities Card -->
        <div class="capabilities-card bg-gradient-to-t from-sky-50 to-sky-100 rounded-2xl p-6 gap-6 flex flex-col 
        md:col-span-3 lg:col-span-1 shadow-sm shadow-slate-300/60 relative overflow-hidden" data-aos="flip-left" data-aos-duration="1000">
          <div class="absolute -top-12 -left-12 size-36 bg-slate-400/5 rounded-full"></div>
          <div class="absolute -bottom-28 right-8 size-36 bg-slate-400/5 rounded-full"></div>
          <span class="text-teal-600/40 bg-primary p-3 bg-white size-16 block rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><rect width="48" height="48" fill="none"/><path fill="currentColor" d="M6.5 24c0-9.665 7.835-17.5 17.5-17.5S41.5 14.335 41.5 24S33.665 41.5 24 41.5S6.5 33.665 6.5 24M24 4C12.954 4 4 12.954 4 24s8.954 20 20 20s20-8.954 20-20S35.046 4 24 4m5.142 8.365a1.26 1.26 0 0 0-1.774 0a1.24 1.24 0 0 0 0 1.76a13.887 13.887 0 0 1 0 19.747a1.24 1.24 0 0 0 0 1.761c.49.486 1.284.486 1.774 0a16.364 16.364 0 0 0 0-23.268m-7.765 2.99a1.344 1.344 0 0 1 1.82 0c5.068 4.774 5.068 12.515 0 17.29a1.343 1.343 0 0 1-1.82 0a1.163 1.163 0 0 1 0-1.715c4.063-3.827 4.063-10.033 0-13.86a1.163 1.163 0 0 1 0-1.715m-5.51 3.01a1.263 1.263 0 0 1 1.776 0a7.92 7.92 0 0 1 0 11.27a1.263 1.263 0 0 1-1.775 0a1.24 1.24 0 0 1 0-1.761a5.447 5.447 0 0 0 0-7.749a1.24 1.24 0 0 1 0-1.76"/></svg>
          </span>
          <div class="flex gap-6 flex-col">
            <h3 class="text-sm font-bold md:text-xl">پرداخت</h3>

            <p>
               امکان پرداخت از طریق کلیه کارت‌های عضو شبکه شتاب و از روش های متنوع پرداخت اینترنتی, USSD, اپلیکیشن و ... برای شما و کاربران شما مهیا ساخته‌ایم.
            </p>
          </div>
        </div>

         <div class="capabilities-card bg-gradient-to-t from-fuchsia-50 to-fuchsia-100 rounded-2xl p-6 gap-6 flex flex-col 
         shadow-sm shadow-slate-300/60 md:col-span-3 lg:col-span-2 relative overflow-hidden" data-aos="flip-left"  data-aos-duration="1000">
          <div class="absolute -top-12 -left-12 size-36 bg-slate-400/5 rounded-full"></div>
          <div class="absolute -bottom-28 right-8 size-36 bg-slate-400/5 rounded-full"></div>
          <span class="text-fuchsia-800/40 bg-primary p-3 bg-white size-16 block rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><rect width="24" height="24" fill="none"/><path fill="none" stroke="currentColor" stroke-width="1.6" d="M7 11V6c0-3 2-5 5-5s5 2 5 5v5m-5 12a7 7 0 1 0 0-14a7 7 0 0 0 0 14Zm0-8v4m0-3a1 1 0 1 0 0-2a1 1 0 0 0 0 2Z"/></svg>
          </span>
          <div class="flex gap-6 flex-col">
            <h3 class="text-sm font-bold md:text-xl">امنیت</h3>

            <p>
                در تجارت الکترونیک استقرار امنیت حکم ستون نگه‌دارنده‌ای را دارد که اگر نباشد همه چیز فرو خواهد ریخت. پاناپال تکیه‌گاه محکمی است.
            </p>
          </div>
        </div>
      </div>

      <!-- Row 2 -->
      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <!-- capabilities Card -->
        <div class="capabilities-card bg-gradient-to-t from-pink-50 to-pink-100 rounded-2xl p-6 gap-6 flex flex-col md:col-span-3 
        lg:col-span-1 shadow-sm shadow-slate-300/60 overflow-hidden relative" data-aos="fade-left" data-aos-duration="1500">
          <div class="absolute -top-12 -left-12 size-36 bg-slate-400/5 rounded-full"></div>
          <div class="absolute -bottom-28 right-8 size-36 bg-slate-400/5 rounded-full"></div>
          <span class="text-pink-600/40 bg-primary p-3 bg-white size-16 block rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><rect width="32" height="32" fill="none"/><path fill="currentColor" d="m21 7l-5-5l-5 5l1.409 1.419L15 5.847V13h2V5.794l2.591 2.625zm0 18l-5 5l-5-5l1.409-1.419L15 26.153V19h2v7.206l2.591-2.625zm3-14l-5 5l5 5l1.419-1.409L22.847 17H30v-2h-7.206l2.625-2.591zM8 11l5 5l-5 5l-1.419-1.409L9.153 17H2v-2h7.206l-2.625-2.591z"/></svg>
          </span>
          <div class="flex gap-6 flex-col">
            <h3 class="text-sm font-bold md:text-xl">مسیردهی هوشمند</h3>

            <p>
               متریک‌های متفاوت در بازه‌های زمانی مختلف باعث می‌شود کاربران به بهترین درگاه پرداخت با بالاترین میزان موفق بودن تراکنش هدایت می‌شوند.
            </p>
          </div>
        </div>

        <div class="capabilities-card bg-gradient-to-t from-emerald-50 to-emerald-100/50 rounded-2xl p-6 gap-6 flex flex-col 
        md:col-span-3 lg:col-span-1 shadow-sm shadow-slate-300/60 relative overflow-hidden" data-aos="fade-up" data-aos-duration="1500">
          <div class="absolute -top-12 -left-12 size-36 bg-slate-400/5 rounded-full"></div>
          <div class="absolute -bottom-28 right-8 size-36 bg-slate-400/5 rounded-full"></div>
          <span class="text-green-600/40 bg-primary p-3 bg-white size-16 block rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><rect width="32" height="32" fill="none"/><path fill="currentColor" d="M9 11a7 7 0 1 1 14 0a1 1 0 1 0 2 0a9 9 0 1 0-14.385 7.212a9 9 0 0 0 3.558 1.602a2 2 0 1 0 .216-2A7 7 0 0 1 9 11m1 0a6 6 0 1 1 7.913 5.689A3 3 0 0 0 16 16c-.727 0-1.393.259-1.913.689A6 6 0 0 1 10 11m6-4a4 4 0 1 0 0 8a4 4 0 0 0 0-8M7.5 18h1.359a10 10 0 0 0 2.777 2H7.5A1.5 1.5 0 0 0 6 21.5v.5c0 1.473.94 2.949 2.759 4.106c1.807 1.15 4.364 1.894 7.24 1.894c2.878 0 5.435-.744 7.242-1.894C25.061 24.95 26 23.472 26 22v-.5a1.5 1.5 0 0 0-1.5-1.5h-5.67a3 3 0 0 0 0-2h5.67a3.5 3.5 0 0 1 3.5 3.5v.5c0 2.393-1.523 4.417-3.685 5.793C22.141 29.177 19.198 30 16 30s-6.14-.823-8.315-2.207C5.523 26.417 4 24.393 4 22v-.5A3.5 3.5 0 0 1 7.5 18"/></svg>
          </span>
          <div class="flex gap-6 flex-col">
            <h3 class="text-sm font-bold md:text-xl">پشتیبانی</h3>

            <p>
            به واسطه‌ی پشتیبانی ۲۴ ساعته, وجود متنوع‌ترین پلاگین‌های پرداخت و وجود وب سرویس آزمایشی می‌توانند معرف خوبی از عبارت پاناپال باشند.
            </p>
          </div>
        </div>

        <div class="capabilities-card bg-gradient-to-t from-violet-50 to-violet-100 rounded-2xl p-6 gap-6 flex flex-col 
        md:col-span-3 lg:col-span-1 shadow-sm shadow-slate-300/60 relative overflow-hidden"  data-aos="fade-right" data-aos-duration="1500">
          <div class="absolute -top-12 -left-12 size-36 bg-slate-400/5 rounded-full"></div>
          <div class="absolute -bottom-28 right-8 size-36 bg-slate-400/5 rounded-full"></div>
          <span class="text-violet-600/40 bg-primary p-3 bg-white size-16 block rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"><rect width="36" height="36" fill="none"/><path fill="currentColor" d="m25.18 12.32l-5.91 5.81a3 3 0 1 0 1.41 1.42l5.92-5.81Z" class="clr-i-outline clr-i-outline-path-1"/><path fill="currentColor" d="M18 4.25A16.49 16.49 0 0 0 5.4 31.4l.3.35h24.6l.3-.35A16.49 16.49 0 0 0 18 4.25m11.34 25.5H6.66a14.43 14.43 0 0 1-3.11-7.84H7v-2H3.55A14.4 14.4 0 0 1 7 11.29l2.45 2.45l1.41-1.41l-2.43-2.46A14.4 14.4 0 0 1 17 6.29v3.5h2V6.3a14.47 14.47 0 0 1 13.4 13.61h-3.48v2h3.53a14.43 14.43 0 0 1-3.11 7.84" class="clr-i-outline clr-i-outline-path-2"/><path fill="none" d="M0 0h36v36H0z"/></svg>
          </span>
          <div class="flex gap-6 flex-col">
            <h3 class="text-sm font-bold md:text-xl">داشبورد حرفه ای</h3>

            <p>
              مدیریت لینک پرداخت، تسویه‌ها، گزارش تراکنش‌ها و ابزارهای مالی تنها در یک پنل ساده و یکپارچه.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>