<section
class="bg-transparent flex flex-col relative z-20 items-center pt-36 pb-16"
>
<div class="px-6 flex flex-col lg:flex-row relative">
  <!-- Left Section: Text Content -->
  <div class="w-full lg:w-1/2 text-center lg:text-start">
    <h1
      class="text-2xl sm:text-6xl font-bold flex justify-center lg:justify-start leading-none text-gray-800 mb-8"
    >
      فروشگاه ساز <span class="text-primary ms-3">پانا-پی</span>
    </h1>
    <h2 class="text-3xl font-semibold mb-8">
      فروش آنلاین محصولات با اتصال به درگاه پرداخت ایمن پاناپال
    </h2>
    <p class="text-md sm:text-xl text-gray-700 ">
      با استفاده از قابلیت های کاربردی، ساده و آسان پانا-پی فقط در چند
      دقیقه برای خود یک فروشگاه اختصاصی بسازید و به درگاه پرداخت پاناپال اختصاصی خود
      متصل شوید تا فرآیند فروش محصولات خود را در بستر شبکه های اجتماعی
      مانند اینستاگرام و تلگرام، آغاز نمایید.
    </p>
    <div class="flex flex-col sm:flex-row mb-8 mt-8 sm:justify-center items-center">
      <a
        href="#"
        class="uppercase py-2 px-4 rounded-lg bg-primary border-2 border-transparent text-white text-md ml-4 mb-5 lg:mb-0"
      >
        ساخت فروشگاه
      </a>
      <span
        >سریع، ساده و کاملا <span class="font-bold">رایگان</span></span
      >
    </div>
  </div>

  <!-- Right Section: Image Content -->
  <div class="hidden md:block w-full lg:w-1/2">
    <div class="flex relative justify-center lg:justify-end">
      <!-- First Image (smaller and on top) -->
      <div class="relative z-10 lg:translate-x-1/4 xl:translate-x-0 max-h-[620px]">
        
        <img
          src="/images/hero-header-shopkeeper.webp"
          alt=""
          class="max-w-xs md:max-w-sm h-full shadow-lg brightness-[99%] shadow-gray-300 m-auto transform scale-90 rounded-xl"
        />
      </div>

      <!-- Second Image (larger and behind) -->
      <div class="absolute left-1/2 transform -translate-x-3/4 xl:-translate-x-full z-0">
        <img
          src=" /images/hero-header.webp"
          alt=""
          class="max-w-xs md:max-w-xs m-auto rounded-lg"
        />
      </div>
    </div>
  </div>
</div>
  <!-- Go to next section button -->
  <div class="bg-white flex justify-center">
    <a href="#features-section" class="p-2 bg-gray-100 rounded-full" aria-label="ادامه">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-9 h-9"
        viewBox="0 0 24 24"
        fill="currentColor"
      >
        <path
          d="M11.9999 13.1714L16.9497 8.22168L18.3639 9.63589L11.9999 15.9999L5.63599 9.63589L7.0502 8.22168L11.9999 13.1714Z"
        ></path>
      </svg>
    </a>
  </div>
  <!-- Go to next section button -->
</section>