<section
class="bg-transparent flex flex-col relative z-20 items-center pt-36 pb-20"
>
<div class="px-6 flex flex-col lg:flex-row relative">
  <!-- Left Section: Text Content -->
  <div class="w-full lg:w-1/2 text-center lg:text-start">
    <h1
      class="text-2xl sm:text-6xl font-bold lg:justify-start leading-none text-gray-800 mb-8"
    >
      درگاه پرداخت اینترنتی <span class="text-violet-800">پانـــــاپرداخت</span>
    </h1>
    <h2 class="text-3xl font-semibold mb-8">
      کسب و کار خود را با تسهیل در پرداخت رونق دهید    
    </h2>
    <p class="text-md sm:text-xl text-gray-500 ">
      پاناپال به‌عنوان پرداخت‌یار رسمی شاپرک و بانک مرکزی ایران، با در اختیار قراردادن خدماتی نوین در صنعت پرداخت الکترونیک، روزانه میزبان چندین هزار تراکنش در بستر وب ایران است.
    </p>
    <div class="flex flex-col sm:flex-row mb-8 mt-8 sm:justify-start items-center">

      <a
        href="#" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
        ورود به پنل کاربری
      </a>
     
      <a
        href="#"
        class="text-white bg-gradient-to-r from-purple-500 to-pink-500 hover:bg-gradient-to-l focus:ring-4 focus:outline-none focus:ring-purple-200 dark:focus:ring-purple-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
      >
        ایجاد حساب جدید
      </a>
     
    </div>
  </div>

  <!-- Right Section: Image Content -->
  <div class="hidden md:block w-full lg:w-1/2">
    <div class="flex relative justify-center lg:justify-end">
      <!-- First Image (smaller and on top) -->
      <div class="relative z-10 lg:-translate-x-16">
        
        <img
          src="/images/cards_hero.png"
          alt=""
          class="p-6 shadow-gray-300 m-auto transform scale-90 rounded-xl brightness-[1.15]"
        />
      </div>

     
    </div>
  </div>
</div>
 
</section>