<section class="py-10 sm:py-16">
    <h2 class="text-3xl font-bold text-center mb-8">
      برای راه‌اندازی فروشگاه‌تان آماده‌اید؟
    </h2>
    <p class="text-center">
      همین حالا فروشگاه آنلاین خود را به صورت کاملا<span class="font-bold">
        رایگان
      </span>
      بسازید.
    </p>
    <div class="text-center mt-8">
      <a
        href="#"
        class="px-6 py-2 bg-primary font-bold text-white rounded-md hover:bg-primary-700"
      >
        ساخت فروشگاه
      </a>
    </div>
  </section>