<section class="bg-gradient-to-t to-[#234cdf] from-[#2384df] dark:border-y-4 dark:border-gray-300 dark:to-zinc-600 dark:from-zinc-800 flex flex-col relative z-20 items-center py-12">
    <div class="relative gap-14 w-full h-40">
        <h3 class="text-slate-100 font-medium text-lg text-center">
            همراه با شرکای تجاری، در تلاشیم بهترین زیرساخت را برای آسودگی خاطر شما فراهم کنیم.
        </h3>
        <div id="swiper" class="w-full max-w-7xl h-20 absolute bottom-0 left-1/2 -translate-x-1/2 select-none overflow-hidden">

            <ul id="swiper-wrapper" class="absolute bottom-0 flex items-center will-change-transform">
                <li class="h-16 flex justify-center w-40 swiper-slide">
                    <img src="images/logo/company-1.webp" alt="" class="h-full brightness-0 invert">
                </li>
                <li class="h-16 flex justify-center w-40 swiper-slide">
                    <img src="images/logo/company-2.webp" alt="" class="h-full brightness-0 invert">
                </li>
                <li class="h-16 flex justify-center w-40 swiper-slide">
                    <img src="images/logo/company-3.webp" alt="" class="h-full brightness-0 invert">
                </li>
                <li class="h-16 flex justify-center w-40 swiper-slide">
                    <img src="images/logo/company-4.webp" alt="" class="h-full brightness-0 invert">
                </li>
                <li class="h-16 flex justify-center w-40 swiper-slide">
                    <img src="images/logo/company-5.png" alt="" class="h-full brightness-0 invert">
                </li>
                <li class="h-16 flex justify-center w-40 swiper-slide">
                    <img src="images/logo/company-6.png" alt="" class="h-full brightness-0 invert">
                </li>
                <li class="h-16 flex justify-center w-40 swiper-slide">
                    <img src="images/logo/company-7.png" alt="" class="h-full brightness-0 invert">
                </li>
                <li class="h-16 flex justify-center w-40 swiper-slide">
                    <img src="images/logo/company-8.png" alt="" class="h-full brightness-0 invert">
                </li>

            </ul>

        </div>
    </div>
</section>



