<section class="py-10 sm:py-16 lg:py-24">
    <div class="flex flex-col gap-20">
      <!-- Section Header -->
      <div class="text-center">
        <h2 class="font-semibold text-3xl mb-4">
          پنل حرفه ای وب اپلیکشن پانا-پی
        </h2>
        <p class="max-w-full mx-auto mt-2 text-gray-600">
          به راحتی و در هرکجا به فروشگاهتان محصول اضافه کنید ، سفارشات را چک
          کنید ، تراکنش ها را بررسی کنید نظرات را رد یا تایید کنید و از فروش
          و بازدید هر محصول مطلع شوید.
        </p>
      </div>

      <div
        class="w-full h-96 bg-secondary-cyan bg-[url(/images/digital.png)] bg-contain relative rounded-3xl flex justify-center"
      >
        <div class="absolute w-48 -top-14 p-1 rounded-2xl bg-black">
          <span class="absolute left-1/2 -translate-x-1/2 top-1.5 size-3 bg-black rounded-full">
            <span class="left-1/2 -translate-x-1/2 bg-grad rounded-full size-1.5 absolute top-1/2 -translate-y-1/2"></span>
          </span>
          <img
            src="/images/shop-sample.webp"
            alt=""
            class="rounded-xl w-full"
          />
        </div>
      </div>
    </div>
  </section>