@import "./fonts.css";

 
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-zinc-200/30 font-yekanbakh;
  }
  * {
    scroll-behavior: smooth;
  }
}

@layer components {


.gradient-border-mask {
  position: relative;
  padding: 0.8rem 1rem;
  backdrop-filter: blur(10px);
}

.gradient-border-mask::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  border: 2px solid transparent;
  background: linear-gradient(140deg, #98bcf8,#7d23e0) border-box;
  mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
}


}
